body{
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    margin: -10px;
    display: none;
}

.modal {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    background: rgb(34,194,195);
    background: linear-gradient(0deg, rgba(34,194,195,1) 0%, rgba(45,253,135,1) 100%);
    border-radius: 5px;
    text-align: center;
    z-index: 11; /* 1px higher than the overlay layer */
}

.close {
  position: absolute;
  top: 0;
  right: 0;
}