<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Show all</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/table.css">

</head>
<body>

<table>
    <thead>
        <tr>
            <td>ID1</td>
            <td>Text1</td>
        </tr>
    </thead>
    <tbody>
        <th:block th:each="simple: ${simpleText}">
            <tr>
                <td th:text="${simple.ID}">ID</td>
                <td th:text="${simple.text}">Text</td>
                <td><button th:onclick="'showI(' + ${simple.ID} + ')'">Update</button></td>
                <td th:id="${simple.ID}" style="display: none">
                    <form action="#" th:object="${simpleTextUpdate}" method="post" style="display: block ruby;">
                        <input type="text" th:field="*{text}">
                        <input type="number" th:value="*{text}" style="display: none;">
                        <button type="submit">Submit</button>
                    </form>
                </td>
            </tr>
        </th:block>
    </tbody>

</table>
<p><a href="/add">Add next data</a></p>

<script>
    function showI(id)
    {
       document.getElementById(id).style.display = 'table-cell';
    }
</script>

</body>
</html>