<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All objects</title>
    <link rel="stylesheet" href="css/table.css">
    <link rel="stylesheet" href="css/flex.css">
    <link rel="stylesheet" href="css/overlay.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="all.js"></script>
</head>
<body>
<div class="flex-container">

        <table id="table">
            <thead>
            <tr>
                <td>ID</td>
                <td>Text</td>
            </tr>
            </thead>
            <tbody id="tb">

            </tbody>
        </table>

        <div>
            Text:<input id="text" type="text" name="text">
            <button onclick="add()">Add new</button>
        </div>
    <div class="overlay">
        <div class="modal">

        </div>
    </div>
</div>

</body>
</html>